{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-default">

  <form class="navbar-form navbar-left" role="search">
    <input type="text" name="song_title" class="form-control" placeholder="Search By Song">
    <input type="submit" class="btn btn-default" value="Search">
    <ul class="navbar-right">
    <p class="navbar-text navbar-right"><h4>Ad-Free Guitar Tabs</h4></p>
    </ul>
  </form>

</nav>

<div class="container">
<div class="row">
    {% for link, song in tab_urls %}
      <div class="col-md-6">
        <div class="panel panel-default">
          <a href="{{ link }}">
          <div class="panel-body">
            {{ song }}
          </div>
          </a>
          </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
